In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("df.csv")

In [4]:
df

,Unnamed: 0,ID,Country,Fulfill Via,Shipment Mode,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,Product Group,Sub Classification,...,Dosage Form,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,new_country,new_vendors
0,1,3,Vietnam,0,1.0,14-Nov-06,14-Nov-06,14-Nov-06,1,Pediatric,...,Oral suspension,240,1000,6200.00,6.20,0.03,"Aurobindo Unit III, India",1,1,1
1,3,15,Vietnam,0,1.0,1-Sep-06,1-Sep-06,1-Sep-06,1,Adult,...,Tablet,60,31920,127360.80,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1,1,2
2,4,16,Vietnam,0,1.0,11-Aug-06,11-Aug-06,11-Aug-06,1,Adult,...,Capsule,60,38000,121600.00,3.20,0.05,"Aurobindo Unit III, India",1,1,1
3,5,23,Nigeria,0,1.0,28-Sep-06,28-Sep-06,28-Sep-06,1,Pediatric,...,Oral solution,240,416,2225.60,5.35,0.02,"Aurobindo Unit III, India",1,2,1
4,6,44,Zambia,0,1.0,8-Jan-07,8-Jan-07,8-Jan-07,1,Pediatric,...,Capsule,90,135,4374.00,32.40,0.36,MSD South Granville Australia,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,10319,86818,Zimbabwe,1,2.0,31-Jul-15,15-Jul-15,20-Jul-15,1,Pediatric,...,Chewable/dispersible tablet - FDC,60,166571,599655.60,3.60,0.06,"Mylan, H-12 & H-13, India",0,6,21
8275,10320,86819,CÃ´te d'Ivoire,1,2.0,31-Jul-15,6-Aug-15,7-Aug-15,1,Adult,...,Tablet - FDC,60,21072,137389.44,6.52,0.11,Hetero Unit III Hyderabad IN,0,7,21
8276,10321,86821,Zambia,1,2.0,31-Aug-15,25-Aug-15,3-Sep-15,1,Adult,...,Tablet - FDC,30,514526,5140114.74,9.99,0.33,Cipla Ltd A-42 MIDC Mahar. IN,0,3,21
8277,10322,86822,Zimbabwe,1,2.0,9-Sep-15,4-Aug-15,11-Aug-15,1,Adult,...,Tablet - FDC,60,17465,113871.80,6.52,0.11,Mylan (formerly Matrix) Nashik,1,6,21
8278,10323,86823,Zimbabwe,1,2.0,31-Aug-15,4-Aug-15,11-Aug-15,1,Pediatric,...,Chewable/dispersible tablet - FDC,60,36639,72911.61,1.99,0.03,"Cipla, Goa, India",0,6,21

In [5]:
x = pd.read_csv("X.csv")

In [6]:
x

,Unnamed: 0,Fulfill Via,Shipment Mode,Product Group,Unit of Measure (Per Pack),Line Item Quantity,Pack Price,Unit Price,First Line Designation,new_country
0,1,0,1.0,1,240,1000,6.20,0.03,1,1
1,3,0,1.0,1,60,31920,3.99,0.07,1,1
2,4,0,1.0,1,60,38000,3.20,0.05,1,1
3,5,0,1.0,1,240,416,5.35,0.02,1,2
4,6,0,1.0,1,90,135,32.40,0.36,1,3
...,...,...,...,...,...,...,...,...,...,...
8274,10319,1,2.0,1,60,166571,3.60,0.06,0,6
8275,10320,1,2.0,1,60,21072,6.52,0.11,0,7
8276,10321,1,2.0,1,30,514526,9.99,0.33,0,3
8277,10322,1,2.0,1,60,17465,6.52,0.11,1,6
8278,10323,1,2.0,1,60,36639,1.99,0.03,0,6

In [7]:
y = pd.read_csv("Y.csv")

In [8]:
y.drop("Unnamed: 0", axis=1, inplace=True)

In [9]:
y

      new_vendors
0               1
1               2
2               1
3               1
4               3
...           ...
8274           21
8275           21
8276           21
8277           21
8278           21

[8279 rows x 1 columns]

In [10]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
 X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [12]:
model = DecisionTreeRegressor()

In [13]:
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [14]:
pred = model.predict(X_test)

In [15]:
pred

array([ 1., 21.,  9., ...,  1.,  1., 21.])

In [16]:
np_y_test = np.array(y_test)

In [17]:
np_y_test

array([[ 1],
       [21],
       [ 9],
       ...,
       [ 5],
       [ 8],
       [21]], dtype=int64)

In [18]:
accuracy_score(y_test, pred)

0.8660812294182217

In [19]:
print("Accuracy: " + accuracy_score(y_test, pred))

TypeError: can only concatenate str (not "function") to str